{# templates/security/log_status.html.twig #}
{% extends 'base.html.twig' %}

{% set title = "Accès à l'espace d'administration" %} 

{% block content %}
   {% if is_granted('ROLE_ADMIN') %}
      <p style='color:green;'>Vous êtes connecté en tant qu'administrateur.</p>
      <p>Les fonctions d'administration sont disponibles en fin de menu.</p>
   {% else %} 
      <p>Vous n'êtes pas connecté.</p>
   {% endif %}   
{% endblock %}
